@theme {
  --font-sans: var(--font-space-grotesk), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: var(--font-space-grotesk), ui-serif, Georgia, Cambria,
    "Times New Roman", Times, serif;
  --font-mono: var(--font-space-mono), ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
