.outside {
  margin-top: 30px;
}

.dope {
  margin-top: 30px;
  border-radius: 5px;
  padding: 20px;
}

.center {
  text-align: center;
  color: var(--color);
  opacity: 0.7;
  font-size: 0.8em;
}

.dope ul {
  display: flex;
  padding: 0px !important;
  width: 100%;
  list-style-type: none;
  margin-bottom: 50px;
  justify-content: space-around;
  font-size: 0.8em;
}

.dope ul li a {
  cursor: pointer;
}

.dope ul li::before {
  content: '/ ';
}