---
import BaseLayout from "@/layouts/BaseLayout.astro";

import Intro from "@/components/organisms/Intro.astro";
import Blog from "@/components/organisms/Blog.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <main>
        <Intro />
        <Blog />
    </main>
</BaseLayout>
