---
import BaseLayout from "@/layouts/BaseLayout.astro";

import Intro from "@/components/organisms/Intro.astro";
import Projects from "@/components/organisms/Projects.astro";
import Work from "@/components/organisms/Work.astro";
import Education from "@/components/organisms/Education.astro";
import Speaking from "@/components/organisms/Speaking.astro";
import Blog from "@/components/organisms/Blog.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <main>
        <Intro />
        <Blog />
        <!-- <Projects />
        <Work />
        <Education />
        <Speaking /> -->
    </main>
</BaseLayout>
