/*
  Import Custom CSS
*/

@import url('variables.css');
@import url('highlight.css');

/*
  Font Face Built-In
*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--background-color);
  color: var(--color);
}

* {
  box-sizing: border-box;
}

hr {
  border: 1px dashed #a599e9;
  margin: 2rem 0rem 1rem;
}

a {
  color: #a599e9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.5;
  font-size: 1rem;
}

img {
  max-width: 100%;
  display: block;
}

code {
  background-color: rgba(172, 101, 255, 0.1);
  display: inline-block;
  font-weight: 500;
  padding: 0.2rem 0.3rem;
  font-size: 0.9rem;
  margin: 0rem 0.1rem 0rem;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
}

blockquote {
  border-left: 5px solid rgba(172, 101, 255, 0.8);
  margin: 0;
  padding: 1px 38px;
  opacity: 0.7;
  word-spacing: 2px;
  border-radius: 5px;
  background-color: rgba(172, 101, 255, 0.1);
  font-style: oblique;
}

::selection {
  background-color: indigo;
}

::-moz-selection {
  background-color: indigo;
}

.videoContainer {
  margin-left: 0px;
  margin-right: 0px;
}

.videoContainer video {
  width: 100%;
  border-radius: 5px;
}
